Repository DaleBCooper/server, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luka-nextcloud, @blizzz, @mejo-, @edward-ly, @Pytal, @kesselb, @SebastianKrupinski, @julien-nc, @juliusknorr, @st3iny, @tcitworld, @hamza221, @come-nc, @icewind1991, @danxuliu, @nfebe, @skjnldsv, @ArtificialOwl, @artonge, @szaimen, @susnux, @ChristophWurst, @provokateurin, @nickvergessen, @JuliaKirschenheuter, @Altahrim, @Antreesy, @marcelklehr, @mgallien, @miaulalala, @CarlSchwan

.github/CODEOWNERS:

# App maintainers
/apps/admin_audit/**            @luka-nextcloud @blizzz
/apps/cloud_federation_api/**   @mejo-
/apps/comments/**               @edward-ly @Pytal
/apps/contactsinteraction/**    @kesselb @SebastianKrupinski
/apps/dashboard/**              @julien-nc @juliusknorr
/apps/dav/**/CalDAV/**          @st3iny @SebastianKrupinski @tcitworld
/apps/dav/**/CardDAV/**         @hamza221 @SebastianKrupinski
/apps/encryption/**             @come-nc @icewind1991
/apps/federatedfilesharing/**   @icewind1991 @danxuliu
/apps/federation/**             @nfebe
/apps/files/**                  @skjnldsv @Pytal @ArtificialOwl @come-nc @artonge @icewind1991 @szaimen @susnux @nfebe
/apps/files_external/**         @icewind1991 @artonge
/apps/files_reminders/**        @Pytal
/apps/files_sharing/**          @skjnldsv @come-nc
/apps/files_trashbin/**         @Pytal @icewind1991
/apps/files_versions/**         @artonge @icewind1991
/apps/oauth2/**                 @julien-nc @ChristophWurst
/apps/provisioning_api/**       @provokateurin @nickvergessen
/apps/settings/**               @Pytal @JuliaKirschenheuter
/apps/sharebymail/**            @Altahrim
/apps/systemtags/**             @Antreesy @marcelklehr
/apps/theming/**                @skjnldsv @juliusknorr
/apps/updatenotification/**     @Pytal @JuliaKirschenheuter
/apps/user_ldap/**              @come-nc @blizzz
/apps/user_status/**            @Antreesy @nickvergessen
/apps/weather_status/**         @julien-nc @juliusknorr
/apps/webhook_listeners/**      @come-nc @julien-nc
/apps/workflowengine/**         @blizzz @juliusknorr

# Frontend expertise
/apps/files/src*                  @skjnldsv
/apps/files_external/src*         @skjnldsv
/apps/files_reminders/src*        @skjnldsv
/apps/files_sharing/src/actions*  @skjnldsv
/apps/files_trashbin/src*         @skjnldsv

# Security team
/build/psalm-baseline-security.xml  @nickvergessen
/resources/codesigning              @mgallien @miaulalala @nickvergessen
/resources/config/ca-bundle.crt     @miaulalala @nickvergessen

# Two-Factor Authentication
# https://github.com/nextcloud/wg-two-factor-authentication#members
**/TwoFactorAuth                    @ChristophWurst @miaulalala @nickvergessen @st3iny
/apps/twofactor_backupcodes         @ChristophWurst @miaulalala @nickvergessen @st3iny
/core/templates/twofactor*          @ChristophWurst @miaulalala @nickvergessen @st3iny

# Limit login to IP
# Watch login routes for https://github.com/nextcloud/limit_login_to_ip
/core/routes.php	@Altahrim

# OpenAPI
openapi*.json           @provokateurin
ResponseDefinitions.php @provokateurin

# Talk team
/lib/private/Comments               @nickvergessen
/lib/private/Federation             @nickvergessen
/lib/private/Talk                   @nickvergessen
/lib/public/Comments                @nickvergessen
/lib/public/Federation              @nickvergessen
/lib/public/OCM                     @nickvergessen
/lib/public/Talk                    @nickvergessen
/lib/public/UserStatus              @nickvergessen

# Groupware
/build/integration/dav_features/caldav.feature    @st3iny @SebastianKrupinski
/build/integration/dav_features/carddav.feature   @st3iny @SebastianKrupinski

# Personal interest
*/Activity/*                        @nickvergessen
*/Notifications/*                   @nickvergessen
/lib/private/Profiler               @CarlSchwan
/lib/public/Profiler                @CarlSchwan

fix(dav): Handle end of stream in `File::put`
  apps/dav/lib/Connector/Sabre/File.php
Owners: none

fix: Do not build encrypted password if there is none
  lib/private/Authentication/LoginCredentials/Store.php
Owners: none

fix(imip): dont propagate attendee changes in reply message
  apps/dav/lib/CalDAV/CalDavBackend.php
  apps/dav/lib/CalDAV/Schedule/IMipPlugin.php
  apps/dav/lib/CalDAV/Schedule/IMipService.php
Owners: @st3iny, @SebastianKrupinski, @tcitworld

feat: command to list and delete calendar subscriptions
  apps/dav/appinfo/info.xml
  apps/dav/composer/composer/autoload_classmap.php
  apps/dav/composer/composer/autoload_static.php
  apps/dav/lib/CalDAV/CalDavBackend.php
  apps/dav/lib/Command/DeleteSubscription.php
  apps/dav/lib/Command/ListSubscriptions.php
Owners: @st3iny, @SebastianKrupinski, @tcitworld

feat: add webhook compatible object creation event for calendar objects
  apps/dav/lib/CalDAV/CalDavBackend.php
  lib/composer/composer/autoload_classmap.php
  lib/composer/composer/autoload_static.php
  lib/public/Calendar/Events/AbstractCalendarObjectEvent.php
  lib/public/Calendar/Events/CalendarObjectCreatedEvent.php
Owners: @st3iny, @SebastianKrupinski, @tcitworld

fix(dav): Create SAB at installation
  apps/dav/appinfo/info.xml
  apps/dav/composer/composer/autoload_classmap.php
  apps/dav/composer/composer/autoload_static.php
  apps/dav/lib/CardDAV/SyncService.php
  apps/dav/lib/Migration/CreateSystemAddressBookStep.php
  apps/dav/tests/unit/Migration/CreateSystemAddressBookStepTest.php
Owners: @hamza221, @SebastianKrupinski
