Repository DaleBCooper/server, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luka-nextcloud, @blizzz, @mejo-, @edward-ly, @Pytal, @kesselb, @SebastianKrupinski, @julien-nc, @juliusknorr, @st3iny, @tcitworld, @hamza221, @come-nc, @icewind1991, @danxuliu, @nfebe, @skjnldsv, @ArtificialOwl, @artonge, @szaimen, @susnux, @ChristophWurst, @provokateurin, @nickvergessen, @JuliaKirschenheuter, @Altahrim, @Antreesy, @marcelklehr, @mgallien, @miaulalala, @CarlSchwan

.github/CODEOWNERS:

# App maintainers
/apps/admin_audit/**            @luka-nextcloud @blizzz
/apps/cloud_federation_api/**   @mejo-
/apps/comments/**               @edward-ly @Pytal
/apps/contactsinteraction/**    @kesselb @SebastianKrupinski
/apps/dashboard/**              @julien-nc @juliusknorr
/apps/dav/**/CalDAV/**          @st3iny @SebastianKrupinski @tcitworld
/apps/dav/**/CardDAV/**         @hamza221 @SebastianKrupinski
/apps/encryption/**             @come-nc @icewind1991
/apps/federatedfilesharing/**   @icewind1991 @danxuliu
/apps/federation/**             @nfebe
/apps/files/**                  @skjnldsv @Pytal @ArtificialOwl @come-nc @artonge @icewind1991 @szaimen @susnux @nfebe
/apps/files_external/**         @icewind1991 @artonge
/apps/files_reminders/**        @Pytal
/apps/files_sharing/**          @skjnldsv @come-nc
/apps/files_trashbin/**         @Pytal @icewind1991
/apps/files_versions/**         @artonge @icewind1991
/apps/oauth2/**                 @julien-nc @ChristophWurst
/apps/provisioning_api/**       @provokateurin @nickvergessen
/apps/settings/**               @Pytal @JuliaKirschenheuter
/apps/sharebymail/**            @Altahrim
/apps/systemtags/**             @Antreesy @marcelklehr
/apps/theming/**                @skjnldsv @juliusknorr
/apps/updatenotification/**     @Pytal @JuliaKirschenheuter
/apps/user_ldap/**              @come-nc @blizzz
/apps/user_status/**            @Antreesy @nickvergessen
/apps/weather_status/**         @julien-nc @juliusknorr
/apps/webhook_listeners/**      @come-nc @julien-nc
/apps/workflowengine/**         @blizzz @juliusknorr

# Frontend expertise
/apps/files/src*                  @skjnldsv
/apps/files_external/src*         @skjnldsv
/apps/files_reminders/src*        @skjnldsv
/apps/files_sharing/src/actions*  @skjnldsv
/apps/files_trashbin/src*         @skjnldsv

# Security team
/build/psalm-baseline-security.xml  @nickvergessen
/resources/codesigning              @mgallien @miaulalala @nickvergessen
/resources/config/ca-bundle.crt     @miaulalala @nickvergessen

# Two-Factor Authentication
# https://github.com/nextcloud/wg-two-factor-authentication#members
**/TwoFactorAuth                    @ChristophWurst @miaulalala @nickvergessen @st3iny
/apps/twofactor_backupcodes         @ChristophWurst @miaulalala @nickvergessen @st3iny
/core/templates/twofactor*          @ChristophWurst @miaulalala @nickvergessen @st3iny

# Limit login to IP
# Watch login routes for https://github.com/nextcloud/limit_login_to_ip
/core/routes.php	@Altahrim

# OpenAPI
openapi*.json           @provokateurin
ResponseDefinitions.php @provokateurin

# Talk team
/lib/private/Comments               @nickvergessen
/lib/private/Federation             @nickvergessen
/lib/private/Talk                   @nickvergessen
/lib/public/Comments                @nickvergessen
/lib/public/Federation              @nickvergessen
/lib/public/OCM                     @nickvergessen
/lib/public/Talk                    @nickvergessen
/lib/public/UserStatus              @nickvergessen

# Groupware
/build/integration/dav_features/caldav.feature    @st3iny @SebastianKrupinski
/build/integration/dav_features/carddav.feature   @st3iny @SebastianKrupinski

# Personal interest
*/Activity/*                        @nickvergessen
*/Notifications/*                   @nickvergessen
/lib/private/Profiler               @CarlSchwan
/lib/public/Profiler                @CarlSchwan

fix: Use case insensitive check when validating login name
  lib/private/User/Session.php
Owners: none

fix: Improve string comparison
  lib/private/User/Session.php
Owners: none

feat(files): allow to ignore warning to change file type
  apps/files/lib/Service/UserConfig.php
  apps/files/src/components/FileEntry/FileEntryName.vue
  apps/files/src/eventbus.d.ts
  apps/files/src/store/renaming.ts
  apps/files/src/store/userconfig.ts
  apps/files/src/types.ts
  apps/files/src/views/DialogConfirmFileExtension.cy.ts
  apps/files/src/views/DialogConfirmFileExtension.vue
  apps/files/src/views/Settings.vue
  cypress/e2e/files/files-renaming.cy.ts
Owners: @skjnldsv, @Pytal, @ArtificialOwl, @come-nc, @artonge, @icewind1991, @szaimen, @susnux, @nfebe

chore: compile assets
  dist/7807-7807.js
  dist/7807-7807.js.license
  dist/7807-7807.js.map
  dist/7807-7807.js.map.license
Owners: none

fix(Share20\Manager): Propagate user and group deletion to remote share providers
  lib/private/Share20/Manager.php
Owners: none

fix(FederatedShareProvider): Delete external shares when groups are deleted or users removed from a group
  apps/federatedfilesharing/lib/FederatedShareProvider.php
Owners: @icewind1991, @danxuliu

fix(Share20): Convert broken hooks to IEventListener
  lib/base.php
  lib/composer/composer/autoload_classmap.php
  lib/composer/composer/autoload_static.php
  lib/private/Share20/GroupDeletedListener.php
  lib/private/Share20/Hooks.php
  lib/private/Share20/UserDeletedListener.php
Owners: none

fix: Transfer ownership with S3 as primary
  lib/private/Files/ObjectStore/ObjectStoreStorage.php
Owners: none

ci: Install PHPUnit 10
  autotest.sh
  vendor-bin/phpunit/composer.json
  vendor-bin/phpunit/composer.lock
Owners: none

fix: Adjust data provider name
  tests/Core/Command/Config/App/SetConfigTest.php
  tests/Core/Command/Config/System/SetConfigTest.php
Owners: none

fixup! perf(cron): Delay (re)checking timed jobs
  tests/lib/BackgroundJob/JobListTest.php
  tests/lib/BackgroundJob/TestTimedJobNew.php
  tests/lib/BackgroundJob/TimedJobTest.php
Owners: none

fix: Report duplicated extra files in integrity check
  lib/private/IntegrityCheck/Checker.php
Owners: none

fix: rework UploadFolder implementation
  apps/dav/lib/Upload/RootCollection.php
  apps/dav/lib/Upload/UploadHome.php
Owners: none

chore(assets): Recompile assets
  dist/3655-3655.js.license
  dist/3920-3920.js.license
  dist/7462-7462.js.license
  dist/8057-8057.js.license
  dist/comments-comments-app.js.license
  dist/comments-comments-tab.js.license
  dist/core-common.js.license
  dist/dav-settings-personal-availability.js.license
  dist/files-sidebar.js.license
  dist/files_versions-files_versions.js.license
  dist/settings-users-3239.js.license
  dist/systemtags-admin.js.license
  dist/systemtags-init.js.license
Owners: none

fix: reduce memory usage for fetching cached mount into
  lib/private/Files/Config/UserMountCache.php
Owners: none

fix: reduce memory usage for fetching cached mount into
  lib/private/Files/Config/UserMountCache.php
Owners: none

fix: add calendar enable
  apps/dav/composer/composer/autoload_classmap.php
  apps/dav/composer/composer/autoload_static.php
  apps/dav/lib/CalDAV/CachedSubscriptionImpl.php
  apps/dav/lib/CalDAV/CalDavBackend.php
  apps/dav/lib/CalDAV/CalendarImpl.php
  apps/dav/lib/Migration/Version1032Date20250226000000.php
  lib/composer/composer/autoload_classmap.php
  lib/composer/composer/autoload_static.php
  lib/private/DB/QueryBuilder/QueryBuilder.php
  lib/public/Calendar/ICalendarIsEnabled.php
Owners: @st3iny, @SebastianKrupinski, @tcitworld

feat: Close sessions created for login flow v2
  core/Controller/ClientFlowLoginV2Controller.php
  lib/composer/composer/autoload_classmap.php
  lib/composer/composer/autoload_static.php
  lib/private/AppFramework/DependencyInjection/DIContainer.php
  lib/private/AppFramework/Middleware/FlowV2EphemeralSessionsMiddleware.php
  lib/private/Authentication/Login/Chain.php
  lib/private/Authentication/Login/FlowV2EphemeralSessionsCommand.php
Owners: none

feat: Close sessions created for login flow v2
  core/Controller/ClientFlowLoginV2Controller.php
  lib/composer/composer/autoload_classmap.php
  lib/composer/composer/autoload_static.php
  lib/private/AppFramework/DependencyInjection/DIContainer.php
  lib/private/AppFramework/Middleware/FlowV2EphemeralSessionsMiddleware.php
  lib/private/Authentication/Login/Chain.php
  lib/private/Authentication/Login/FlowV2EphemeralSessionsCommand.php
Owners: none

feat: Close sessions created for login flow v2
  core/Controller/ClientFlowLoginV2Controller.php
  lib/composer/composer/autoload_classmap.php
  lib/composer/composer/autoload_static.php
  lib/private/AppFramework/DependencyInjection/DIContainer.php
  lib/private/AppFramework/Middleware/FlowV2EphemeralSessionsMiddleware.php
  lib/private/Authentication/Login/Chain.php
  lib/private/Authentication/Login/FlowV2EphemeralSessionsCommand.php
Owners: none

feat: Close sessions created for login flow v2
  core/Controller/ClientFlowLoginV2Controller.php
  lib/composer/composer/autoload_classmap.php
  lib/composer/composer/autoload_static.php
  lib/private/AppFramework/DependencyInjection/DIContainer.php
  lib/private/AppFramework/Middleware/FlowV2EphemeralSessionsMiddleware.php
  lib/private/Authentication/Login/Chain.php
  lib/private/Authentication/Login/FlowV2EphemeralSessionsCommand.php
Owners: none

feat: Close sessions created for login flow v2
  core/Controller/ClientFlowLoginV2Controller.php
  lib/composer/composer/autoload_classmap.php
  lib/composer/composer/autoload_static.php
  lib/private/AppFramework/DependencyInjection/DIContainer.php
  lib/private/AppFramework/Middleware/FlowV2EphemeralSessionsMiddleware.php
  lib/private/Authentication/Login/Chain.php
  lib/private/Authentication/Login/FlowV2EphemeralSessionsCommand.php
Owners: none

feat: Support deleting metadata from WebDAV
  apps/dav/lib/Connector/Sabre/FilesPlugin.php
  build/integration/config/behat.yml
  build/integration/features/bootstrap/MetadataContext.php
  build/integration/files_features/metadata.feature
Owners: none

feat: Close sessions created for login flow v2
  core/Controller/ClientFlowLoginV2Controller.php
  lib/composer/composer/autoload_classmap.php
  lib/composer/composer/autoload_static.php
  lib/private/AppFramework/DependencyInjection/DIContainer.php
  lib/private/AppFramework/Middleware/FlowV2EphemeralSessionsMiddleware.php
  lib/private/Authentication/Login/Chain.php
  lib/private/Authentication/Login/FlowV2EphemeralSessionsCommand.php
Owners: none

fix(LDAP): use ldap_set_option over putenv to disable cert check
  apps/user_ldap/lib/Connection.php
Owners: @come-nc, @blizzz

fix: Deprecate OC_Template, add proper template manager instead
  core/Controller/SetupController.php
  index.php
  lib/base.php
  lib/private/Template/Base.php
  lib/private/Template/Template.php
  lib/private/Template/TemplateManager.php
  lib/private/legacy/OC_Template.php
  lib/public/Template.php
  lib/public/Template/ITemplateManager.php
Owners: none

fix: Fix psalm issues and add missing methods to ITemplate interface
  build/psalm-baseline.xml
  lib/private/Template/Base.php
  lib/private/Template/TemplateManager.php
  lib/public/AppFramework/Http/TooManyRequestsResponse.php
  lib/public/Template/ITemplateManager.php
Owners: none

fix: Add missing ITemplate interface and clean code in Template class
  lib/composer/composer/autoload_classmap.php
  lib/composer/composer/autoload_static.php
  lib/private/Server.php
  lib/private/Template/Template.php
  lib/private/legacy/OC_Util.php
  lib/public/Template/ITemplate.php
  lib/public/Util.php
Owners: none

fix: Replace all usage of OC_Template by the new API
  apps/dav/lib/Files/BrowserErrorPagePlugin.php
  lib/private/TemplateLayout.php
  lib/private/legacy/OC_Template.php
  lib/public/Util.php
  public.php
  remote.php
Owners: none

feat(admin_audit): write admin audit log for login failed
  apps/admin_audit/lib/Actions/Auth.php
  apps/admin_audit/lib/AppInfo/Application.php
  lib/private/Authentication/Listeners/LoginFailedListener.php
Owners: @luka-nextcloud, @blizzz

fixup! fix: add calendar enable
  apps/dav/lib/CalDAV/CachedSubscriptionImpl.php
  apps/dav/lib/CalDAV/CalDavBackend.php
  apps/dav/lib/CalDAV/CalendarImpl.php
  apps/dav/lib/Migration/Version1032Date20250226000000.php
Owners: @st3iny, @SebastianKrupinski, @tcitworld

fix: Correctly count disabled users for SAML groups subadmins
  apps/settings/lib/Controller/UsersController.php
  lib/private/User/Manager.php
Owners: @Pytal, @JuliaKirschenheuter

chore: Remove now unused methods from User manager
  lib/private/User/Manager.php
Owners: none

fix: allow null as value for ITemplate::assign, as used in TemplateLayout
  lib/private/Template/Base.php
  lib/public/Template/ITemplate.php
Owners: none

test: Expose set and getVariable in Cypress tests
  cypress.config.ts
Owners: none

Revert "Revert "[stable30] fix: Handle copy of folders containing live photos""
  apps/dav/lib/Connector/Sabre/Directory.php
  apps/files/lib/Listener/SyncLivePhotosListener.php
  apps/files_versions/lib/Listener/VersionStorageMoveListener.php
  cypress/e2e/files/FilesUtils.ts
  cypress/e2e/files/LivePhotosUtils.ts
  cypress/e2e/files/live_photos.cy.ts
  lib/private/Files/Node/HookConnector.php
Owners: @skjnldsv, @Pytal, @ArtificialOwl, @come-nc, @artonge, @icewind1991, @szaimen, @susnux, @nfebe

fix: Add missing phpdoc in ITemplateManager
  lib/public/Template/ITemplateManager.php
Owners: none

chore(tests): Fix using save/restore state in cypress
  .github/workflows/cypress.yml
  cypress/dockerNode.ts
  cypress/support/commands.ts
  cypress/support/commonUtils.ts
Owners: none

fix: Fix signatures and types in template related classes
  lib/private/Template/Base.php
  lib/private/Template/TemplateManager.php
  lib/public/Template/ITemplate.php
  lib/public/Util.php
Owners: none

fix: Cleanup of internal class TemplateLayout
  lib/private/Template/Template.php
  lib/private/TemplateLayout.php
Owners: none
